@layout('layouts.index')

@section('vars')
    @set('title', 'Tally-ticketing Welcome')
@endsection

@section('content')
  <h1>This is the home page!</h1>
  <div id="home">
    <home></home>
  </div>
@endsection
