
@if(flashMessage('success'))
    <div class="alert alert-success mb-0 rounded-0" role="alert">
      <div class="text-center text-bold">
        {{ flashMessage('success') }}
      </div>
    </div>
@endif

@if(flashMessage('error'))
    <div class="alert alert-danger mb-0 rounded-0" role="alert">
      <div class="text-center text-bold">
        {{ flashMessage('error') }}
      </div>
    </div>
@endif