<footer id="footer" class="footer-light">
  <div class="copyright-content">
    <div class="container">
      <div class="copyright-text text-center">&copy; 2019 Tally -  All Rights Reserved.</a>
      </div>
    </div>
  </div>
</footer>
