HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}
EXTERNAL_APP_URL=${APP_URL}

CACHE_VIEWS=false

APP_KEY=

DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=development

SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=

MAIL_CONNECTION=
SMTP_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=