{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "global-require": "off",
    "arrow-parens": ["error", "always"],
    "quotes": ["error", "single"],
    "eqeqeq": ["error", "always"]
  },
  "globals": {
    "use": true,
    "models": true,
    "$": true
  }
}
