# Editor
.idea/

# Node modules
node_modules

# Adonis directory for storing tmp files
tmp
.fusebox

# Generated directories and files
resources/views/layouts/index.edge
public

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite