@import './dashboard/admin.scss';
@import './feedback/feedback-detail-container.scss';
.full-screen {
  height: 100vh;
}

#organization-find {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
