@layout('layouts.index')

@section('content')
    @set('title', 'Api Token - Admin')
    @include('partials.header')

    <div>
        Here is your token.
    </div>
    @if(organization.api_token)
        {{ organization.api_token }}
    @else
        No token
    @endif

    <form action="/organization/{{ organization.slug }}/admin/token" method="post">
        {{ csrfField() }}
        <button type="submit">Generate One!</button>
    </form>
@endsection