.feedback-detail-container {
  .reply-container {
    .reply-title {
      background-color: #e8e8e8;
    }
    .reply {
      display: flex;
      flex-direction: column;

      .author {
        margin-top: 5px;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        .name {
          align-self: flex-end;
        }
      }
    }
  }
}
