#admin-dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  .feedback-table-header {
    flex: 1 1 10%;
    display: flex;
    span {
      margin: auto;
    }
  }
  .feedback-table-columns {
    flex: 1 1 90%;
    display: flex;
    justify-content: space-around;
    .column {
      flex: 0.32;
      background-color: #ebeef0;
      border: 1px solid #d9dee2;
      border-radius: 3px;
      padding: 5px;
      .column-title {
        margin-bottom: 4px;
        .counter {
          font-size: 12px;
          border-radius: 20px;
          background-color: rgba(27, 31, 35, 0.15);
          padding: 2px 5px;
        }
      }
      ul {
        list-style: none;
        padding-left: 0;
        .feedback {
          margin-bottom: 5px;
          min-height: 50px;
          padding: 4px;
          .text {
            margin-bottom: 5px;
            font-size: 15px;
          }
          .author {
            text-align: right;
            font-size: 12px;
          }
        }
      }
    }
  }
}
