@layout('layouts.email')

@section('content')
 <div>
     <h1>{{messages[0].user.name}} has replied to your ticket!</h1>
 </div>
 <div>
     <h2>Title: {{title}}</h2>
 </div>
 <div>
     <h3>Here is what they said</h3>
     <span>"{{messages[0].body}}"</span>
 </div>
@endsection