@layout('layouts.email')

@section('content')
    <div>
        <p>{{messages[0].user.name}} has replied to your <a href='{{appUrl}}/organization/{{user.organization.slug}}/ticket/{{id}}'>ticket!</a></p>
    </div>
    <hr/>
    <div>
        <h2>Title: {{title}}</h2>
         <p>"{{messages[0].body}}"</p>
    </div>
@endsection