@layout('layouts.email')
<div>
    use this if you wanna reset password: <a href="{{appUrl}}/resetpassword?token={{token}}"> token </a> 
</div>

@section('content')
    <div>
        <p>You seem to have requested to reset your password.</p>
    </div>
    <hr/>
    <div>
        <p>use this if you wanna reset password: <a href="{{appUrl}}/resetpassword?token={{token}}"> token </a> </p>
    </div>
@endsection